// viewport

:root {
  --viewport: 428;
}

// fonts

:root {
  --inter: "Inter";
  --nunito: "Nunito";
}

// transitions

:root {
  --default-ease: cubic-bezier(0.24, 1, 0.36, 1);
}

:root {
	--c-accent: #B6FB4C;
	--c-black: #0F0F0F;
	--c-white: #FFFFFF;
	--c-red: #F54135;
}