@font-face {
  font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
