@font-face {
  font-family: 'Inter';
	src: url('../fonts/InterVariable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}
@font-face {
  font-family: 'Nunito';
	src: url('../fonts/NunitoVariable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}