// common classes for typography like .p1, .p2, .H1, .H2 ...

.h1 {
  font-size: rem(40);
	font-family: var(--font-700);
}
.h2 {
  font-size: rem(32);
	font-family: var(--font-700);
}
.h3 {
  font-size: rem(24);
  letter-spacing: rem(-0.2);
	font-family: var(--font-700);
}
.h4 {
  font-size: rem(22);
  letter-spacing: rem(8);
	font-family: var(--font-700);
}
.h5 {
  font-size: rem(16);
	font-family: var(--font-700);
}
.h6 {
  font-size: rem(15);
	font-family: var(--font-500);
	letter-spacing: 0;
}
.t1 {
  font-size: rem(14);
	font-family: var(--font-700);
}
.t2 {
  font-size: rem(12);
	font-family: var(--font-700);
}
.t3 {
  font-size: rem(9);
	font-family: var(--font-500);
}